.container-fluid {
  background-color: #e8f4ff;
  height: 1000px;
}

.navigationBar {
  background-color: #e8f4ff;
  height: 1000px;
}

.centralBar {
  margin-top: 0.2%;
  background-color: #ffffff;
  height: 1000px;
}

.previewBar {
  background-color: #e8f4ff;
  border-radius: 9px;
  margin: 1.5%;
  margin-right: 4%;
  height: 800px;
}

.titleBar {
  background-color: #e8f4ff;
  height: 7%;
}

.searchBar {
  background-color: #ffffff;
}
.accountBar {
  background-color: #ffffff;
}

.form-control {
  width: 60% !important;
  margin-top: 1.5%;
  margin-left: 25%;
  background-color: #f6f7f9;
}

.avatar {
  margin-top: 4.5%;
  margin-left: 65%;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.metismenu {
  margin-top: -10%;
  background-color: #00a9de;
}

.metismenu-container {
  background-color: #e8f4ff;
}

.metismenu-link.active {
  background-color: #28a9e3;
  color: #f8fbff;
  text-decoration: none;
}

.metismenu-link.active:hover {
  text-decoration: none !important;
  color: #f8fbff !important;
}

.metismenu-link {
  color: #37393c;
  border-radius: 5px;
  font-family: Verdana, Geneva, sans-serif;
}

.metismenu-link.has-active-child {
  color: #37393c;
}

.metismenu::after {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
}

.metismenu-container .metismenu-container {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
}

.metismenu-link:hover {
  color: #37393c !important;
  border-radius: 5px !important;
  text-decoration: none !important;
}

.metismenu-icon {
  color: #00a9de;
}

.metismenu-link.active > .metismenu-icon {
  color: #ffffff;
}

.dokumentiNaslov {
  margin-top: 2%;
  margin-left: 4%;
  padding-bottom: 6px;
  color: #00a9de;
  font-weight: bolder;
  border-bottom: 2px solid #00a9de;
  width: fit-content;
}

.opisFoldera {
  background-color: #e8f4ff;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 2%;
  padding: 3%;
  border-radius: 8px;
}

.naslovinformacijeoFolder {
  font-weight: bolder;
}

.informacijeoFolder {
  color: #28a9e3;
  margin-left: 2%;
}

.opis {
  font-weight: normal;
  padding-right: 3%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.previewData {
  margin-top: 4%;
}

.previewButtons {
  margin-top: 8%;
  margin-left: 2%;
}

.btn-light {
  margin-right: 3%;
  background-color: #ffff !important;
}

.primary {
  margin-right: 3%;
  background-color: #00a9de !important;
}

.izmjeniDocument {
  margin-top: 7%;
  font-weight: 600;
}

.btn-link {
  text-align: right;
  color: #00a9de !important;
  font-weight: 600 !important;
  float: right;
}

.infoAboutDocument {
  margin-top: 3%;
}

.naslov {
  font-size: smaller;
  margin: 0px;
}

.vrijednost {
  font-weight: 500;
  margin: 0px;
  margin-bottom: 2%;
}

table {
  margin-top: 3%;
  margin-left: 3%;
  border-collapse: collapse;
}

thead {
  font-size: 14px;
}

tr {
  font-size: smaller;
}

tbody > tr {
  background-color: #e8f4ff;
}

.table-hover > tbody > tr:hover {
  background-color: #00a9de !important;
  color: #f8fbff !important;
}

td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tableRowButton {
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
  background-color: #f8fbff !important;
}

.iconInRow:hover {
  color: #ffffff !important;
  background-color: #00a9de !important;
}

.buttonInRow {
  background-color: #f8fbff !important;
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.nazivDokumenta {
  margin-left: 2%;
}

.ekstenzijaDokumenta {
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 2%;
}

#dimScreen {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #696b6d;
  visibility: hidden;
}

.closePopUp {
  float: right;
  margin: 1%;
}

#popUp {
  background: #f7fbff;
  background-size: 100%;
  border-radius: 7px;
  width: 75%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popUp > .ekstenzijaDokumenta {
  margin-left: 3%;
  display: inline;
}

#popUp > .nazivDokumenta {
  display: inline;
}

.verIautor {
  margin-left: 20%;
  display: inline-block;
  font-size: smaller;
  color: #37393c;
}

.verIautor > .verzija {
  margin-top: 5%;
}

.verIautor > p {
  margin: 0%;
}

.dodajNovoPoljeButton {
  display: inline;
  float: right;
  margin-top: 1.5%;
  margin-right: 1.5%;
}

.popUpPolja {
  margin-top: 5%;
}

.popUpTextInput {
  width: 90% !important;
  margin: 0px;
  font-weight: 600 !important;
}

.popUpSacuvajIzmjene {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.popUpLabel {
  color: #393b3e;
  font-size: smaller;
  margin-bottom: 0%;
}

#dodajPoljePopUp {
  background: #f7fbff;
  background-size: 100%;
  border: 2px solid #393b3e;
  border-radius: 7px;
  width: 35%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.closePopUp2 {
  float: right;
  margin: 1%;
}

.titleDodajPoljePopUp {
  float: left;
  margin: 1%;
  font-weight: bolder;
}

.dodajPopUp2 {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.formPopUp2 {
  margin-top: 8%;
}

.popUp2TextInput {
  margin-left: 4%;
  margin-top: 10%;
}

.popUp2checkbox {
  margin-top: 2%;
  margin-left: 4%;
}

.addedNewFields {
  display: inline-flex;
}

@media only screen and (max-width: 1500px) {
  .metismenu {
    font-size: 11pt;
  }
  .btn-primary {
    font-size: 0.9rem !important;
  }
}

@media only screen and (max-width: 1400px) {
  .metismenu {
    font-size: 10pt;
  }
  .btn-primary {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 1300px) {
  .metismenu {
    font-size: 9pt;
  }
  .nazivDokumenta {
    font-size: 1rem !important;
  }
  .previewData {
    font-size: 0.8rem !important;
  }
  .infoAboutDocument {
    font-size: 0.8rem !important;
  }
  .izmjeniDocument {
    font-size: 0.9rem !important;
  }
  .btn-link {
    font-size: 0.9rem !important;
  }
  p.opis {
    font-size: 0.9rem !important;
  }
  .column {
    font-size: 0.9rem !important;
  }
}
